In [87]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [88]:
def convert2_unixtime(s):
    year_s, mon_s, day_s = s.split('-')
    dtime = datetime(int(year_s), int(mon_s), int(day_s))
    unix_time = time.mktime(dtime.timetuple())
    # print(unix_time)
    return int(unix_time)

In [98]:
data = pd.read_csv("final_geo_df.csv")
data

,date,home_team,away_team,country,country_full_home,country_full_away,neutral,rank_diff,point_diff,point_increase_home,point_increase_away,score_diff,home_won,lati_cn_home,long_cn_home,lati_cn_away,long_cn_away,rest_days
0,1993-01-10,Angola,Zimbabwe,Angola,Angola,Zimbabwe,0,48.0,-17.00,10.00,27.00,0.0,0,0.000000,0.000000,7.812746,11.280970,14.0
1,1993-01-16,South Africa,Nigeria,South Africa,South Africa,Nigeria,0,111.0,-45.00,5.00,50.00,0.0,0,0.000000,0.000000,39.641481,14.262229,14.0
2,1993-01-16,Tanzania,Zambia,Tanzania,Tanzania,Zambia,0,48.0,-23.00,15.00,38.00,-2.0,-1,0.000000,0.000000,6.764869,7.039490,14.0
3,1993-01-17,Benin,Tunisia,Benin,Benin,Tunisia,0,89.0,-31.00,4.00,35.00,-5.0,-1,0.000000,0.000000,24.579227,7.221665,14.0
4,1993-01-17,Burundi,Algeria,Burundi,Burundi,Algeria,0,70.0,-29.00,10.00,39.00,0.0,0,0.000000,0.000000,31.406942,28.259260,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,2022-03-30,Solomon Islands,New Zealand,Qatar,Solomon Islands,New Zealand,1,31.0,-88.88,0.00,-4.15,-5.0,-1,35.000536,108.972310,66.255383,123.702087,3.0
5359,2022-06-01,Scotland,Ukraine,Scotland,Scotland,Ukraine,0,12.0,-62.42,0.84,0.00,-2.0,-1,0.000000,0.000000,8.111267,35.368180,14.0
5360,2022-06-05,Wales,Ukraine,Wales,Wales,Ukraine,0,-9.0,53.00,10.07,0.00,1.0,1,0.000000,0.000000,3.751267,34.949280,14.0
5361,2022-06-13,Australia,Peru,Qatar,Australia,Peru,1,20.0,-100.03,-24.57,-1.13,0.0,0,50.629224,82.591252,34.544793,126.199036,14.0
5362,2022-06-14,Costa Rica,New Zealand,Qatar,Costa Rica,New Zealand,1,-70.0,297.02,39.03,44.41,1.0,1,15.605909,134.937312,66.255383,123.702087,14.0

In [99]:
d = data['date']
# display_html
data['date'] = d.apply(convert2_unixtime)
data
# data = data.sort_values(by=['date'])
# data
# data['date'] = time.mktime(d.timetuple())
# data

,date,home_team,away_team,country,country_full_home,country_full_away,neutral,rank_diff,point_diff,point_increase_home,point_increase_away,score_diff,home_won,lati_cn_home,long_cn_home,lati_cn_away,long_cn_away,rest_days
0,726595200,Angola,Zimbabwe,Angola,Angola,Zimbabwe,0,48.0,-17.00,10.00,27.00,0.0,0,0.000000,0.000000,7.812746,11.280970,14.0
1,727113600,South Africa,Nigeria,South Africa,South Africa,Nigeria,0,111.0,-45.00,5.00,50.00,0.0,0,0.000000,0.000000,39.641481,14.262229,14.0
2,727113600,Tanzania,Zambia,Tanzania,Tanzania,Zambia,0,48.0,-23.00,15.00,38.00,-2.0,-1,0.000000,0.000000,6.764869,7.039490,14.0
3,727200000,Benin,Tunisia,Benin,Benin,Tunisia,0,89.0,-31.00,4.00,35.00,-5.0,-1,0.000000,0.000000,24.579227,7.221665,14.0
4,727200000,Burundi,Algeria,Burundi,Burundi,Algeria,0,70.0,-29.00,10.00,39.00,0.0,0,0.000000,0.000000,31.406942,28.259260,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,1648569600,Solomon Islands,New Zealand,Qatar,Solomon Islands,New Zealand,1,31.0,-88.88,0.00,-4.15,-5.0,-1,35.000536,108.972310,66.255383,123.702087,3.0
5359,1654012800,Scotland,Ukraine,Scotland,Scotland,Ukraine,0,12.0,-62.42,0.84,0.00,-2.0,-1,0.000000,0.000000,8.111267,35.368180,14.0
5360,1654358400,Wales,Ukraine,Wales,Wales,Ukraine,0,-9.0,53.00,10.07,0.00,1.0,1,0.000000,0.000000,3.751267,34.949280,14.0
5361,1655049600,Australia,Peru,Qatar,Australia,Peru,1,20.0,-100.03,-24.57,-1.13,0.0,0,50.629224,82.591252,34.544793,126.199036,14.0
5362,1655136000,Costa Rica,New Zealand,Qatar,Costa Rica,New Zealand,1,-70.0,297.02,39.03,44.41,1.0,1,15.605909,134.937312,66.255383,123.702087,14.0

In [91]:
# 简单用pandas.get_dummis
def one_hot(df,colName):
    dummies = pd.get_dummies(df[colName],prefix=colName)
    res = pd.concat([df.drop(columns=[colName]),dummies],axis=1)
    return res

In [100]:
# 始终按时间顺序排列
data = data.sort_values(by=['date'])

In [101]:
data = one_hot(data,'neutral')
data

,date,home_team,away_team,country,country_full_home,country_full_away,rank_diff,point_diff,point_increase_home,point_increase_away,score_diff,home_won,lati_cn_home,long_cn_home,lati_cn_away,long_cn_away,rest_days,neutral_0,neutral_1
0,726595200,Angola,Zimbabwe,Angola,Angola,Zimbabwe,48.0,-17.00,10.00,27.00,0.0,0,0.000000,0.000000,7.812746,11.280970,14.0,1,0
1,727113600,South Africa,Nigeria,South Africa,South Africa,Nigeria,111.0,-45.00,5.00,50.00,0.0,0,0.000000,0.000000,39.641481,14.262229,14.0,1,0
2,727113600,Tanzania,Zambia,Tanzania,Tanzania,Zambia,48.0,-23.00,15.00,38.00,-2.0,-1,0.000000,0.000000,6.764869,7.039490,14.0,1,0
3,727200000,Benin,Tunisia,Benin,Benin,Tunisia,89.0,-31.00,4.00,35.00,-5.0,-1,0.000000,0.000000,24.579227,7.221665,14.0,1,0
4,727200000,Burundi,Algeria,Burundi,Burundi,Algeria,70.0,-29.00,10.00,39.00,0.0,0,0.000000,0.000000,31.406942,28.259260,14.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,1648569600,Solomon Islands,New Zealand,Qatar,Solomon Islands,New Zealand,31.0,-88.88,0.00,-4.15,-5.0,-1,35.000536,108.972310,66.255383,123.702087,3.0,0,1
5359,1654012800,Scotland,Ukraine,Scotland,Scotland,Ukraine,12.0,-62.42,0.84,0.00,-2.0,-1,0.000000,0.000000,8.111267,35.368180,14.0,1,0
5360,1654358400,Wales,Ukraine,Wales,Wales,Ukraine,-9.0,53.00,10.07,0.00,1.0,1,0.000000,0.000000,3.751267,34.949280,14.0,1,0
5361,1655049600,Australia,Peru,Qatar,Australia,Peru,20.0,-100.03,-24.57,-1.13,0.0,0,50.629224,82.591252,34.544793,126.199036,14.0,0,1
5362,1655136000,Costa Rica,New Zealand,Qatar,Costa Rica,New Zealand,-70.0,297.02,39.03,44.41,1.0,1,15.605909,134.937312,66.255383,123.702087,14.0,0,1

In [102]:
data = one_hot(data,'rest_days')
data

,date,home_team,away_team,country,country_full_home,country_full_away,rank_diff,point_diff,point_increase_home,point_increase_away,...,rest_days_5.0,rest_days_6.0,rest_days_7.0,rest_days_8.0,rest_days_9.0,rest_days_10.0,rest_days_11.0,rest_days_12.0,rest_days_13.0,rest_days_14.0
0,726595200,Angola,Zimbabwe,Angola,Angola,Zimbabwe,48.0,-17.00,10.00,27.00,...,0,0,0,0,0,0,0,0,0,1
1,727113600,South Africa,Nigeria,South Africa,South Africa,Nigeria,111.0,-45.00,5.00,50.00,...,0,0,0,0,0,0,0,0,0,1
2,727113600,Tanzania,Zambia,Tanzania,Tanzania,Zambia,48.0,-23.00,15.00,38.00,...,0,0,0,0,0,0,0,0,0,1
3,727200000,Benin,Tunisia,Benin,Benin,Tunisia,89.0,-31.00,4.00,35.00,...,0,0,0,0,0,0,0,0,0,1
4,727200000,Burundi,Algeria,Burundi,Burundi,Algeria,70.0,-29.00,10.00,39.00,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,1648569600,Solomon Islands,New Zealand,Qatar,Solomon Islands,New Zealand,31.0,-88.88,0.00,-4.15,...,0,0,0,0,0,0,0,0,0,0
5359,1654012800,Scotland,Ukraine,Scotland,Scotland,Ukraine,12.0,-62.42,0.84,0.00,...,0,0,0,0,0,0,0,0,0,1
5360,1654358400,Wales,Ukraine,Wales,Wales,Ukraine,-9.0,53.00,10.07,0.00,...,0,0,0,0,0,0,0,0,0,1
5361,1655049600,Australia,Peru,Qatar,Australia,Peru,20.0,-100.03,-24.57,-1.13,...,0,0,0,0,0,0,0,0,0,1
5362,1655136000,Costa Rica,New Zealand,Qatar,Costa Rica,New Zealand,-70.0,297.02,39.03,44.41,...,0,0,0,0,0,0,0,0,0,1

In [115]:
# 标准化 (x - x.mean())/x.std()
# output.mean() =  0
# output.std() = 1
def normalization(df,colName):
    d = df[colName]
    d = (d - d.mean())/d.std()
    # print(d)
    return d

In [116]:
# 值类型的特征标准化一下
data['rank_diff'] = normalization(data,'rank_diff')
data['rank_diff'] = normalization(data,'rank_diff')
data['point_diff'] = normalization(data,'point_diff')
data['point_increase_home'] = normalization(data,'point_increase_home')
data['point_increase_away'] = normalization(data,'point_increase_away')
data

,date,home_team,away_team,country,country_full_home,country_full_away,rank_diff,point_diff,point_increase_home,point_increase_away,...,rest_days_5.0,rest_days_6.0,rest_days_7.0,rest_days_8.0,rest_days_9.0,rest_days_10.0,rest_days_11.0,rest_days_12.0,rest_days_13.0,rest_days_14.0
0,726595200,Angola,Zimbabwe,Angola,Angola,Zimbabwe,0.812479,-0.066732,0.295917,0.870000,...,0,0,0,0,0,0,0,0,0,1
1,727113600,South Africa,Nigeria,South Africa,South Africa,Nigeria,1.860582,-0.159256,0.109771,1.700769,...,0,0,0,0,0,0,0,0,0,1
2,727113600,Tanzania,Zambia,Tanzania,Tanzania,Zambia,0.812479,-0.086558,0.482063,1.267324,...,0,0,0,0,0,0,0,0,0,1
3,727200000,Benin,Tunisia,Benin,Benin,Tunisia,1.494578,-0.112994,0.072542,1.158963,...,0,0,0,0,0,0,0,0,0,1
4,727200000,Burundi,Algeria,Burundi,Burundi,Algeria,1.178483,-0.106385,0.295917,1.303445,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5358,1648569600,Solomon Islands,New Zealand,Qatar,Solomon Islands,New Zealand,0.529658,-0.304254,-0.076375,-0.255149,...,0,0,0,0,0,0,0,0,0,0
5359,1654012800,Scotland,Ukraine,Scotland,Scotland,Ukraine,0.213564,-0.216819,-0.045103,-0.105250,...,0,0,0,0,0,0,0,0,0,1
5360,1654358400,Wales,Ukraine,Wales,Wales,Ukraine,-0.135804,0.164578,0.298523,-0.105250,...,0,0,0,0,0,0,0,0,0,1
5361,1655049600,Australia,Peru,Qatar,Australia,Peru,0.346656,-0.341098,-0.991098,-0.146066,...,0,0,0,0,0,0,0,0,0,1
5362,1655136000,Costa Rica,New Zealand,Qatar,Costa Rica,New Zealand,-1.150633,0.970923,1.376682,1.498856,...,0,0,0,0,0,0,0,0,0,1

In [119]:
data.to_csv('2.csv',index=False)